services:
  nextjs:
    build:
      context: .
      dockerfile: apps/nextjs/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - HOSTNAME=0.0.0.0
    depends_on:
      - nestjs
  nestjs:
    build:
      context: .
      dockerfile: apps/nestjs/Dockerfile
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
